/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
/* Container to add spacing */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Header Styling */
header {
    background: linear-gradient(135deg, #f39c12, #ffda79);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: white;
    font-weight: 500;
}
